<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="row" >
    <div class="col-sm-2">
        <div class="container">
            <div class="row">
                <nav class="col-sm-3" id="myScrollspy" >
                    <ul class="nav nav-pills nav-stacked" >
                        <li class="active1"><a href="/Showproduct">
                            <button type="button" class="btn btn-success" style="width:100%"><h4>สินค้า</h4></button></a></li>
                        <li class="active1"><a href="/">
                            <button type="button" class="btn btn-primary" style="width:100%"><h4>page2</h4></button></a></li>
                        <li class="active1"><a href="/">
                            <button type="button" class="btn btn-info" style="width:100%"><h4>page3</h4></button></a></li>
                        <li class="active1"><a href="/">
                            <button type="button" class="btn btn-danger" style="width:100%"><h4>page4</h4></button></a></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                    </ul>
                </nav>

            </div>


        </div>

    </div>

</div>
</body>
</html>