<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"><FONT FACE="JasmineUPC">
    <title>Pupat</title>
    <style type="text/css">
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div  class="d" style="background-color: skyblue" >
      <center><h1>My Profile</h1></center>
      <div class="col-sm-12" >
        <div class="panel panel-default" style="background-color:burlywood " >
          <div class="panel-body" ><h3>

            <br><br>
            <div align="center"><img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/17757096_1822768368049207_1926877630185262649_n.jpg?_nc_cat=0&oh=b4e186a4aafc205d359cea811aeae50e&oe=5BEC96F8" class="img-circle" alt="Cinque Terre" width="200" height="200"></div>
            <div align="center"><font color="white"><h1>ภูภัฎ  ศรีโชค</h1></font></div>
            <font><font size=5><dd><h3>History </h3></dd>
              &nbsp&nbsp&nbspDate of Birth : 7 March 1996 &nbsp&nbsp Age 22 year
              <br>&nbsp&nbsp&nbsp Address : 219 หมู่ 3 ถนนนายูง ต.กุมภวาปี อ.กุมภวาปี จ.อุดรธานี
              <br>&nbsp&nbsp&nbsp weight : 50 kg &nbsp&nbsp height : 174 cm
              <h3><dd>นิสัยส่วนตัว</dd></h3>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspเป็นคนร่าเริง แจ่มใส เฮฮาปาจิงโกะ <br>&nbsp&nbsp&nbsp
              มีความชอบในวัฒนธรรมญีปุ่นมาก ไม่ชอบตามคนส่วนมาก เชื่อในความแตกต่าง <br>
              <br>&nbsp&nbsp&nbsp Tel : 085-3920266
              <br>&nbsp&nbsp&nbsp E-mail : penguinopg@@gmail.com
              <br>&nbsp&nbsp&nbsp Facebook : <a href="https://www.facebook.com/opgpenguin">ยูเมวะ อาเซโนนากานิ</a></div>


        <br>
        <div align="center"><a href="/"><font size=5>กลับสู่หน้าหลัก</font></a></div>
        </font>
        <br><br><br>
      </div>
    </div>

  </body>
</html>
