@(guitar:Products,drum:Products,bass:Products,eguitar:Products,keyboard:Products,mic:Products)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-sm-6">
        <div class="container">
        <img src="http://static.weloveshopping.com/shop/ctmusicshop/extra/11444939.jpg"width="350px"height="200px"class="img-rounded" alt="Cinque Terre"><br><br>
        <h5>รหัส :@guitar.getId<br>
            ชื่อ :@guitar.getName<br>
            ยี่ห้อ :@guitar.getBrand<br>
            รุ่น : @guitar.getModel<br>
            ราคา :@guitar.getPrice<br>
            จำนวน :@guitar.getAmount<br><br></h5>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
        <img src="http://static.weloveshopping.com/shop/ctmusicshop/extra/14250030.jpg"width="350px"height="200px"class="img-rounded" alt="Cinque Terre"><br><br>
            <h5>รหัส :@drum.getId<br>
            ชื่อ :@drum.getName<br>
            ยี่ห้อ :@drum.getBrand<br>
            รุ่น : @drum.getModel<br>
            ราคา :@drum.getPrice<br>
            จำนวน :@drum.getAmount<br></h5></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="container">
        <img src="http://static.weloveshopping.com/shop/ctmusicshop/extra/12321624.jpg"width="350px"height="200px"class="img-rounded" alt="Cinque Terre"><br><br>
            <h5>รหัส :@bass.getId<br>
                ชื่อ :@bass.getName<br>
                ยี่ห้อ :@bass.getBrand<br>
                รุ่น : @bass.getModel<br>
                ราคา :@bass.getPrice<br>
                จำนวน :@bass.getAmount<br></h5></div>
    </div>
    <div class="col-sm-6">
        <div class="container">
        <img src="http://static.weloveshopping.com/shop/ctmusicshop/extra/13078133.jpg"width="350px"height="200px"class="img-rounded" alt="Cinque Terre"><br><br>
            <h5>รหัส :@eguitar.getId<br>
                ชื่อ :@eguitar.getName<br>
                ยี่ห้อ :@eguitar.getBrand<br>
                รุ่น : @eguitar.getModel<br>
                ราคา :@eguitar.getPrice<br>
                จำนวน :@eguitar.getAmount<br></h5></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="container">
        <img src="http://static.weloveshopping.com/shop/ctmusicshop/extra/14282720.jpg"width="350px"height="200px"class="img-rounded" alt="Cinque Terre"><br><br>
            <h5>รหัส :@keyboard.getId<br>
                ชื่อ :@keyboard.getName<br>
                ยี่ห้อ :@keyboard.getBrand<br>
                รุ่น : @keyboard.getModel<br>
                ราคา :@keyboard.getPrice<br>
                จำนวน :@keyboard.getAmount<br></h5></div>
    </div>
    <div class="col-sm-6">
        <div class="container">
        <img src="http://static.weloveshopping.com/shop/ctmusicshop/extra/7830017.jpg"width="350px"height="200px"class="img-rounded" alt="Cinque Terre"><br><br>
            <h5>รหัส :@mic.getId<br>
                ชื่อ :@mic.getName<br>
                ยี่ห้อ :@mic.getBrand<br>
                รุ่น : @mic.getModel<br>
                ราคา :@mic.getPrice<br>
                จำนวน :@mic.getAmount<br></h5></div>
    </div>
</div>
</body>
</html>